body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.car1 {
    background-image: url(./images/s13.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.car2 {
    background-image: url(./images/r34.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.survey {
    background-image: url(./images/tokyo.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#main-cont {
    background: rgba(222, 193, 219, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 2px rgba(31, 38, 135, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    position: relative;
    z-index: 1;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: white;

}

.btn-classic,
.btn-survey {
    background: rgba(222, 193, 219, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 2px rgba(31, 38, 135, 0.5);
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none;
}

.btn-survey {
    padding: 0;
}

.btn-classic:hover,
.btn-survey:hover {
    border-color: #2a003c;
    transform: translateY(-5px);
    border: 1px solid #2a003c;
    transition: all 0.3s ease;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
}